<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
<link rel="stylesheet" type="text/css"
      href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Gestion des Demandes</title>
    <style>
        a:hover {
            background: transparent;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-4">
    <!-- Brand -->
    <a class="navbar-brand" href="listForm">Gestion de Demande</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
                <span sec:authentication="name"></span>
            </a>
            <div class="dropdown-menu">
                <a sec:authorize="!isAuthenticated()" class="dropdown-item"th:href="@{login}">login</a>
                <a sec:authorize="isAuthenticated()" class="dropdown-item"
                   th:href="@{logout}">logout</a>
            </div></li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav">

        <!-- Dropdown -->
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">

                Demandes
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{bourseScolaire}" >Bourse Scolaire</a>
                <a class="dropdown-item" th:href="@{listdetails}">Consulter</a>
            </div>

        </li>

        <li class="nav-item">

            <a class="dropdown-item" style="color: white;" th:href="@{listdetailsadmin}" sec:authorize="hasRole('ROLE_ADMIN')" >

                Examiner les Demandes
            </a>


        </li>
    </ul>

</nav>

<section layout:fragment="Mycontent" >

</section>
</body>
</html>